body{
    background-color:white;
    color:black;
}

header, main, nav, footer, #content{
    text-align:center;
}

nav a{
    padding:15px;
    padding-bottom:4px;
    font-size:1.8em;
    text-decoration:none;
    color:black;
}

nav a:hover{
    border-bottom:2px  #00cc00 solid;
    font-size:2em;
    transition:.9s;
}

figure{
    float: left;
}

#me, #welcomeText{
    float:left;
    padding-bottom: 80px;
}

#welcomeText{
    text-align: left;
    padding-left: 50px;
    font-size:1.3em;
}

#standOut{
    color: #00cc00;
}

footer{
    font-size:1em;
    color:green;
    clear:both;
}

#footerImg{
    width: 90px;
    height: 50px;
}

table{
    margin:0px auto;
    padding-top:50px;
} 

td{
    padding-right: 20px;
    font-size:1.7em;
}

td strong{
  color:#00cc00;  
}

#table-header{
    background-color: black;
}

.table-row{
    background-color: #b3ffb3;
}

ul{
    text-align:left;
    padding-left: 50px;
    font-size:1.3em;
    padding-bottom: 40px;
}

.hobby{
    color: #00cc00;
}

#photo{
    width:300px;
    height: 300px;
}

iframe{
    padding-top:50px;
    padding-bottom: 50px;
    width: 1000px;
    height: 1200px; 
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}
